unfuddle:
  subdomain: something
  use_ssl: false
  user: yourusername
  password: yourpassword
  people:
    githubemailaddress@something.com: 1111
    
repositories:
  github-unfuddle:
    unfuddle_project_id: 1111
    